    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Teko, 'sans-serif';
    }
    
    ul {
        color: white;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    h1,
    h2,
    h3 {
        text-transform: uppercase;
    }
    
    img {
        width: 100%;
    }
    /* Utility class  */
    
    .container {
        max-width: 1100px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    /* NavBar  */
    
    .navbar {
        background-color: black;
        padding: 8px 0;
        color: white;
        overflow: hidden;
    }
    
    .navbar h1 {
        font-size: 3rem;
    }
    
    .navbar .links {
        display: flex;
        margin-left: auto;
    }
    
    .navbar .links li {
        padding: 1rem;
    }
    
    .navbar .links a {
        padding: 1rem;
        font-size: 1.3rem;
        transition: all 0.2s ease-in;
    }
    
    .navbar .links a.current {
        background-color: lightskyblue;
        color: black;
    }
    
    .navbar .links a:hover {
        background-color: lightskyblue;
        opacity: 0.9;
        color: black;
    }
    
    .title {
        color: lightskyblue;
    }
    /* Main Showcase  */
    
    .main-display {
        background-image: url('/img/showcase.jpg');
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    
    .main-display .display-content {
        width: 1100px;
        padding: 9rem;
    }
    
    .main-display .display-content h1 {
        color: black;
        font-size: 4rem;
        text-align: center;
    }
    
    .main-display .display-content .weather-input {
        padding: 0.8rem;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        border-radius: 20px;
        transition: all 1s ease-out;
        border: none;
    }
    
    .main-display .display-content .weather-input:hover {
        border: 3px solid rgb(133, 111, 255);
        transform: scale(1.1);
        border-radius: 10px;
    }
    
    .main-display .display-content .btn {
        margin: 1rem 0;
        width: 100%;
        padding: 0.5rem;
        background-color: lightskyblue;
        border: none;
        transition: all 0.2s ease-in;
    }
    
    .main-display .display-content .btn:hover {
        opacity: 0.8;
    }
    /* Weather Card  */
    
    .card {
        width: 300px;
        /* height: 300px; */
        background-color: white;
        /* border: 1px solid black; */
        border-radius: 10px;
        box-shadow: 0 0 5px 2px;
        transition: all 0.5s ease-in-out;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        text-align: center;
    }
    
    .card {
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    
    .card:hover {
        background-color: rgb(217, 239, 255);
        transform: scale(1.05);
    }
    /* The weather icon generated by the API  */
    
    .icons {
        width: 70px;
        height: 70px;
    }
    /* Bounce Animation for the card  */
    
    .bounce {
        animation-name: bounce;
        animation-timing-function: ease;
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0);
        }
    }